body {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  width: 100%;
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #fffff2;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

#header {
  top: 0;
  height: 80px;
  width:100%;
  opacity: .9;
  margin:0px auto;
  text-align:center;
  line-height:70px;
  position: fixed;
  background-color: #fffff2;
}

#header li {
 display:inline-block;
 margin:0 3% 0 3%;
 font-size:17px;
 color:#46494c;
 font-weight:bold;
 cursor:pointer;
 background-color: transparent;
}

#header li:hover {
  color: #fffff2;
}

.section {
  margin-top:100px;
  width:100%;
  box-sizing:border-box;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#home {
  height:500px;
  padding:150px;
  background-color:#46494c;
  color:#fffff2;
}

#about {
  height:700px;
  padding:80px;
  background-color:#fffff2;
  color:#46494c;
}

#experience {
  height:800px;
  padding:80px;
  background-color:#46494c;
  color:#fffff2;
}

#projects {
  height:1200px;
  padding:80px;
  background-color:#fffff2;
  color:#46494c;
}

#resume {
  height:400px;
  padding:80px;
  background-color:#46494c;
  color:#fffff2;
}

#home h1 {
 font-size:40px;
}
#home p {
 font-size:20px;
}
#about p {
 font-size:20px;
}

#experience h2 {
  font-size: 20px;
}

#projects a:link {
  color: #6a6d6f;
  background-color: transparent;
  text-decoration: none;
}
#projects a:visited {
  color: #383a3c;
  background-color: transparent;
  text-decoration: none;
}
#projects a:hover {
  color: #46494c;
  background-color: transparent;
  text-decoration: underline;
}
#projects a:active {
  color: #6a6d6f;
  background-color: transparent;
  text-decoration: underline;
}

#resume a:link {
  color: #fffff2;
  background-color: transparent;
  text-decoration: none;
}
#resume a:visited {
  color: #ccccc1;
  background-color: transparent;
  text-decoration: none;
}
#resume a:hover {
  color: #e5e5d9;
  background-color: transparent;
  text-decoration: underline;
}
#resume a:active {
  color: #fffff2;
  background-color: transparent;
  text-decoration: underline;
}

/*blinking cursor*/

.blinking-cursor {
  font-weight: 100;
  font-size: 40px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fffff2;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fffff2;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fffff2;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fffff2;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fffff2;
  }
}

/*mouse scroll icon*/
.mouse {
	max-width: $mouse-width;
	width: 8%;
	height: auto;
}

.scroll {
	animation-ml11: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}

.scroll-link {
	position: absolute;
	bottom: 40%;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes scroll {
	0%, 20% {
		transform: translateY(0) scaleY(1);
	}

	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}
}
